.select2-container .select2-selection--single {
    height: 100% !important;
    border: var(--bs-border-width) solid #DFE5EF !important;
    border-radius: none !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 16px !important;
}
.select2-selection__arrow {
    /* height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none) !important; */
    display: none !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #757575 !important;
}

.select2-search__field,
.select2-dropdown  {
    border-radius: 7px!important;

}